@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <!-- nav menu or whatever -->
    </div>

    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
